
{% extends "base.html" %}
{% load static %}

{% block Title %}
	{{webname}}
{% endblock Title %}

{% block contents %}
<div class="mobile">
<div class="space">
</div>
	<div id="mainbody">
<table class="tsel" border="0" width="100%">

<td valign="top" align="center" width="50%">
<table class="tsel" border="0">

<td><img class="selector" id="webcamimg" src="" onclick="setwebcam()" align="left" /></td>
<td><img class="selector" id="qrimg" src="" onclick="setimg()" align="right"/></td></tr>
<tr><td colspan="2" align="center">
<div id="outdiv">
<td colspan="3" align="center">
<img src=""/>
</td></tr>
<tr><td colspan="3" align="center">
<div id="result"></div>

<a href="/" class="back">back</a>
<form method="POST">
        {% csrf_token %}
		<table>{{data_box}}</table>
		<button type="submit" class="pay">pay</button>
</form>
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>

<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-8418802408648518"
     data-ad-slot="2527990541"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
</div>&nbsp;
<div id="footer">
<img style="position:relative;top:0px;left:0px;margin:0;padding:0;" src=""/>
</div>
</div>
<canvas id="qr-canvas" width="800" height="600"></canvas>
</div>
<script src="{% static 'js/llqrcode.js' %}"></script>
<script src="{% static 'js/webqr.js' %}"></script>

<script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>

<script type="text/javascript">load();</script>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-24451557-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

	
{% endblock contents %}